<div class="app-container">
  <div class="app-container__content-holder">
    {{shake-detector}}

    contact info: <br>
    {{profile.firstName}} <br>
    {{profile.lastName}} <br>
    {{profile.email}} <br>
    {{profile.twitter}}


    {{x-shake model=profile}}
  </div>
</div>
