{{#paper-toolbar warn=(not shake.connected) as |toolbar|}}
  {{#toolbar.tools}}
    {{#if shake.connected}}
      {{#paper-button mini=true aria-label="Shake" action=(action 'shake')}}
        {{paper-icon "vibration"}}
      {{/paper-button}}
    {{else}}
      {{paper-icon "flash off" class="disconnected-icon"}}
    {{/if}}
    <h2>ember-share</h2>
    <span class="flex"></span>
    {{#paper-button mini=true aria-label="Profile"}}
      {{paper-icon "face"}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

<div class="app-container">
  <div class="app-container__content-holder">
    {{outlet}}
  </div>
</div>
