{{#paper-toolbar warn=(or (not shake.connected) (not shake.hasLocation)) as |toolbar|}}
  {{#toolbar.tools}}
    {{#if (not shake.hasLocation)}}
      {{paper-icon "room" class="disconnected-icon"}}
    {{else if shake.connected}}
      {{#paper-button mini=true aria-label="Shake" onClick=(action 'shake')}}
        {{paper-icon "vibration"}}
      {{/paper-button}}
    {{else}}
      {{paper-icon "flash off" class="disconnected-icon"}}
    {{/if}}
    <h2>ember-share</h2>
    <span class="flex"></span>
    {{#paper-button mini=true aria-label="Profile"}}
      {{paper-icon "face"}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{#if shake.waitProgress}}
  {{paper-progress-linear value=shake.waitProgress}}
{{/if}}

<div class="app-container">
  <div class="app-container__content-holder">
    {{outlet}}
  </div>
</div>
