<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{#each model as |item|}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              {{paper-icon "recent actors"}} {{item.fullName}}
            {{/text.headline}}
            {{#text.subhead}}
              {{item.company}}
            {{/text.subhead}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content}}
          {{#if item.twitter}}<p>@{{item.twitter}}</p>{{/if}}
          {{#if item.email}}<p>{{item.email}}</p>{{/if}}
          {{#if item.note}}<p>{{item.note}}</p>{{/if}}
        {{/card.content}}
        {{#card.actions}}
          {{#paper-button onClick=(action 'delete' item) warn=true}}Delete{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
    {{else}}
      {{#if (not shake.hasLocation)}}
        <div class="splash-notice">
          <h3>Waiting for location</h3>
          <p>Your location is required in order to locate the closest person to you. On certain devices this could take up to 20&nbsp;seconds.</p>
          {{paper-progress-circular diameter=40}}
          <small><em>Please make sure your location services are enabled for your browser and that you allow this app to access them.</em></small>
        </div>
      {{else if shake.waitProgress}}
        <div class="splash-notice">
          <h3>Waiting for contact</h3>
          {{paper-progress-circular value=shake.waitProgress diameter=96}}
        </div>
      {{else}}
        <div class="splash-notice">
          <h3>Shake your phone</h3>
          <p>and share your business card</p>
          <img src="/shake.jpg" title="Shake your phone" />
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
