<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{#each model as |item|}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              {{paper-icon "recent actors"}} {{item.fullName}}
            {{/text.headline}}
            {{#text.subhead}}
              {{item.company}}
            {{/text.subhead}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content}}
          {{#if item.twitter}}<p>@{{item.twitter}}</p>{{/if}}
          {{#if item.email}}<p>{{item.email}}</p>{{/if}}
          {{#if item.note}}<p>{{item.note}}</p>{{/if}}
        {{/card.content}}
        {{#card.actions}}
          {{#paper-button onClick=(action 'delete' item) warn=true}}Delete{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
    {{else}}
      {{#if (not shake.hasLocation)}}
        <center>
          <h3>Location missing</h3>
          <p>Can not get your location.</p>
          <p>Please make sure your location services are enabled for your browser and that you allow this website to access them.</p>
        </center>
      {{else}}
        <center>
          <p>Shake your phone<br />to share your contact</p>
          <img src="/shake.jpg" title="Shake your phone" />
        </center>
      {{/if}}
    {{/each}}
  </div>
</div>
